.btn, .btn--enviar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.btn--enviar {
  background-color: #afa2ad;
  color: #efedeb; }

.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mujerTurista {
  height: 100%;
  width: 100%; }

.mujerTurista {
  padding: 5px;
  margin: 10px; }

/*INICIO*/
.logo {
  margin: 10px; }

.bg-nav {
  background-color: #d3dde8; }

.navbar-light .navbar-brand {
  color: white; }

.navbar {
  background-color: #d3dde8; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #afa2ad; }

.card-text {
  text-align: center; }

.card-title {
  text-align: center;
  color: #afa2ad; }

.bg-dark {
  background-color: #efedeb !important; }

.miniBio {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.card-footer {
  background-color: #d3dde8;
  display: flex;
  justify-content: space-evenly; }

/*CONSEJOS*/
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10; }

/*DESTINOS*/
.tituloDestino {
  background-color: #afa2ad;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center; }

/*CONTACTO*/
.contacto {
  background-image: url(../assets/img/fondocontacto_.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 10px !important;
  margin: 5%; }

/*QUIENES SOMOS*/
.QuienesSomos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "img" "texto"; }

.mujerTurista {
  grid-area: img;
  display: flex;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%; }

.presentacion {
  grid-area: texto;
  display: flex;
  background-color: #b5a3af;
  color: white;
  margin: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "img" "texto"; }
  .mujerTurista {
    grid-area: img;
    display: flex;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 5%; }
  .presentacion {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: x-small;
    background-color: #b5a3af;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
