/*INICIO*/
.logo {
    margin: 10px;
}
.bg-nav {
    background-color: #d0deea;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar {
    background-color: #d0deea;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #b5a3af;
}

.card-text {
    text-align: center;
}
.card-title {
    text-align: center;
    color: #b5a3af
}
.bg-dark {
    background-color:#f0eeea!important;
   
}
.miniBio {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;        
}
.card-footer {
    background-color: #d0deea;
    display: flex;
    justify-content:space-evenly;
}

/*CONSEJOS*/

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}
/*DESTINOS*/
.tituloDestino {
    background-color: #b5a3af;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
/*CONTACTO*/
.contacto {
    background-image: url(../assets/img/fondocontacto_.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20cm;
    display: flex;
    justify-content: center;
    padding: 5px!important;

}
/*QUIENES SOMOS*/
.mujerTurista {
    background-image: url(../assets/img/turista.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 97%;
    background-attachment: fixed;
    height: 20cm;
    
  }
.presentacion {
    background-color: #b5a3af;
    color: white;
    padding: 5%;
    margin: 10%;

    
  }