//mapa colores

$celeste: rgb(211,221,232);
$beige: rgb(239,237,235);
$bordo: rgb(175,162,173);
$negro: rgb(0,0,0);
$blanco: rgb(255,255,255);

$paleta: (
    'celeste':rgb (211, 221, 232),
    'beige':rgb (239, 237, 235),
    'bordo':rgb (175,162,173),
    'negro': rgb (0,0,0),
    'blanco': rgb (255,255,255),

)

